.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    color: $title-text-color;
    padding: 10px;
    margin-bottom: 10px;
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
}
@media (max-width: 500px) {
    .header h2 {
        visibility: hidden;
        &::before {
            position: relative;
            top: 25px;
            left: 30px;
            content: "2°s. ADS";
            visibility: visible;
        }
    }
}