//* Colors
$background-color: #e3e4ee;
$primary-color: #772208;
$text-color: #1f1313;
$title-text-color: #fff;

//* Fonts
$title-font-family: "Rubik", sans-serif;
$title-font-weight: 400;
$main-font-family: "Montserrat", sans-serif;