//? ========= RESET =========
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font-weight: 400;
    outline: none;
}

@import 'variables';

//? ========= Other =========
body {
    background-color: $background-color;
    color: $text-color;
    font-family: $main-font-family;
    font-optical-sizing: auto;
    & :not(header) {
        margin: 0 15px;
    }
}
h1,
h2,
button {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
}

//? ========= Imports =========
@import 'header';
@import 'table';
@import 'form';